.filter-header-wrap {
  background-color: $bg-dark-gray;
  border-top: 2px solid $border;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

  .grid-container {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 7px;
    padding-bottom: 10px;
    padding-right: 15px;
    padding-left: 15px;
    .filterable-grid {
      padding-top: 1.5rem;
    }
  }

  .filter-title-col {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0rem;
    flex-wrap: wrap;
  }

  .section-title {
    font-family: 'Segoe UI';
    color: $text-white;
    font-size: 34px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    padding-bottom: 2px;
    border-bottom: 2px solid $text-white;
    line-height: 1.9;
    margin-right: 10px;
    padding-right: 5px;
    padding-left: 5px;
  }

  label {
    font-family: 'Segoe UI';
    color: $text-white;
    font-size: 22px;
    line-height: 1.6;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    margin-right: 10px;
    white-space: nowrap;
  }

  .company-filter-select {
    background-color: #fff;
    border: 2px solid $gold-accent;
    color: $text-brown;
    font-weight: 700;
    text-transform: uppercase;
    padding: 5px 15px;
    height: 35px;
    max-width: 250px;
    cursor: pointer;
    border-radius: 0;
    outline: none;

    option {
      color: #333;
    }

    &:focus {
      border-color: darken($gold-accent, 10%);
    }
  }
}
.home-listings-grid {
}
.home-photo-wrap {
  padding-bottom: 2px;

  img {
    width: 100%;
    height: 190px;
    object-fit: cover;
    object-position: center;
  }
}
.home-card-inner {
  margin: 0.4rem 0rem;
}
.home-card {
  display: flex;
  flex-direction: column;
  border: 1.5px solid $home-bg;
  max-height: 600px;
  margin: 0 auto;
  .home-info {
    padding: 1rem;
    text-align: center;
    .home-address,
    .home-city-zip {
      text-transform: uppercase;
      color: $home-bg;
      font-weight: 600;
      margin-bottom: 0.1rem;
      line-height: 1.2;
    }
    .builder-name {
      color: $name-color;
    }
  }

  .artisan-number-btn {
    display: block;
    background-color: $home-bg;
    color: $color-white;
    padding: 0.6rem 0;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 14px;
    &:hover {
      opacity: 0.6;
    }
  }
}
.archive-home-main {
  .grid-container {
    padding-top: 0rem;
  }
}
.archive-home-main {
  .top {
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
  }
}
