/* ========================================
   Our Builders (Team) Section
   ======================================== */

.builders-team-section {
  padding: 2.5rem 0;
  text-align: center;
  .section-title {
    color: $section-title-color;
    font-family: Arial, sans-serif;
    font-size: 2.125rem;
    line-height: 1.8125rem;
    padding: 9px;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    border-bottom: 1.5px solid $section-title-color;
    max-width: 350px;
    margin-bottom: 2.5rem;
  }

  .builders-content {
    align-items: stretch;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
  }

  .builder-photo-col {
    padding: 0;

    .group-photo {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: fill;
    }
  }

  .builder-list-col {
    padding: 0;
    background-color: $builders-bg;
    color: $builders-text-color;
    max-height: 417px;

    .builder-list-wrapper {
      display: flex;
      align-items: center;
      margin-left: 2rem;
      .builders-list {
        text-align: left;
        list-style: none;
        margin: 0;
        padding: 0;
        font-size: 1rem;
        line-height: 1.6875rem;

        .builder-item {
          margin-bottom: 0.8rem;
          margin-top: 0.8rem;
          font-size: 0.8rem;

          .builder-name {
            font-weight: 300;
            color: $builders-text-color;
          }

          .builder-description {
            font-weight: 700;
            color: $builders-text-color;

            &:before {
              content: '';
            }
          }
        }
      }
    }
  }
}
