/* ========================================
   Our Builders (Team) Section
   ======================================== */

.builders-team-section {
  padding-top: 3.6rem;
  text-align: center;
  .section-title {
    color: $section-title-color;
    font-family: Arial, sans-serif;
    font-size: 2.125rem;
    line-height: 1.8125rem;
    padding: 9px;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    border-bottom: 1.5px solid $section-title-color;
    max-width: 350px;
    margin-bottom: 1.5rem;
    margin-left: 25px;
  }
  .builders-content {
    margin-left: 1rem;
  }
  .builder-photo-col {
    padding: 0;

    .group-photo {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: fill;
    }
  }

  .builder-list-col {
    padding: 12px;
    background-color: $builders-bg;
    color: $builders-text-color;
    max-height: 470px;
    margin-left: -0.6rem;

    .builder-list-wrapper {
      display: flex;
      align-items: center;
      margin-left: 1rem;
      .builders-list {
        text-align: left;
        list-style: none;
        margin: 0;
        padding: 0;
        font-size: 1rem;
        line-height: 1.6875rem;

        .builder-item {
          margin-top: 0.1rem;

          .builder-name {
            font-weight: 300;
            color: $builders-text-color;
          }

          .builder-description {
            font-weight: 700;
            color: $builders-text-color;

            &:before {
              content: '';
            }
          }
        }
      }
    }
  }
}
@include breakpoint(small down) {
  .builder-list-col {
    .builder-list-wrapper {
      .builder-item {
        margin-bottom: 0.6rem;
        margin-top: 0.6rem;
      }
    }
  }
}
