/* ========================================
   Coming Soon Text Section
   ======================================== */
.coming-soon-section {
  padding: 2rem 0;
  text-align: center;
  .coming-soon-header-wrap {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    letter-spacing: 2.5rem;
  }
  .coming-soon-header-wrap h2 {
  }

  .section-header {
    font-size: 1.8rem;
    text-transform: uppercase;
    margin: 0 auto 0rem auto;
    letter-spacing: 1.2rem;
    font-weight: 300;
    color: #333;

    display: inline-block;

    font-family: 'Times New Roman', serif;
  }

  .body-content {
    font-size: 1.3rem;
    line-height: 1.6;
    color: #333;
    text-align: center;
    max-width: 1040px;
    margin: 0 auto;
  }
}
