/* ========================================
   Coming Soon Text Section
   ======================================== */
.coming-soon-section {
  padding-top: 2.6rem;
  padding-bottom: 0;
  text-align: center;
  .coming-soon-header-wrap {
    margin-bottom: 0.5rem;
  }

  .section-header {
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1rem;
    margin-top: -1rem;
    max-width: 60rem;
    font-weight: 300;
    color: $color-coming-soon;

    display: inline-block;

    font-family: 'Times New Roman', serif;
  }

  .body-content {
    font-family: 'Segoe UI';
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: $color-coming-soon;
    text-align: center;
    font-weight: 300;
  }
}
