/* ========================================
   Coming Soon Text Section
   ======================================== */
.coming-soon-section {
  padding: 2.5rem 0;
  text-align: center;
  .coming-soon-header-wrap {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1.875rem;
    letter-spacing: 2.5rem;
  }

  .section-header {
    font-size: 1.3rem;
    text-transform: uppercase;
    margin: 0 auto 0rem auto;
    letter-spacing: 1.1rem;
    font-weight: 300;
    color: $color-coming-soon;

    display: inline-block;

    font-family: 'Times New Roman', serif;
  }

  .body-content {
    font-family: 'Segoe UI';
    font-size: 1.4rem;
    line-height: 2.4rem;
    color: $color-coming-soon;
    text-align: center;
    max-width: 60.9rem;
    margin: 0 auto;
  }
}
