/* ========================================
   Hero Slider Section (Фінальні стилі)
   ======================================== */
.hero-slider.dynamic-slider {
  position: relative;
  width: 100%;
  overflow: hidden;
  line-height: 0;

  .single-slide {
    position: relative;
    line-height: 0;
  }

  .slide-image {
    display: block;
    width: 150%;
    height: auto;
  }
  @include breakpoint(small down) {
    .single-slide {
      .hero-overlay-content {
        .hero-artisan-text {
        }
      }
    }
  }
  .hero-overlay-content {
    z-index: 10;

    .hero-artisan-text {
      left: 50%;
      position: absolute;
      transform: translate(-50%);
      bottom: 0;
      opacity: 0.8;
    }
  }
}
