/* ========================================
   Collaborations Section
   ======================================== */

$section-title-color: #9c6c39;

.collaborations-section {
  padding-top: 2.625rem;
  padding-bottom: 5.5rem;
  .sponsors-block,
  .partners-block {
    margin-bottom: 2rem;
  }
  .section-title {
    color: $section-title-color;
    font-family: Arial, sans-serif;
    padding: 9px;
    font-size: 2.125rem;
    line-height: 1.8125rem;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    border-bottom: 1.5px solid $section-title-color;
    max-width: 350px;
  }

  .logo-list {
    justify-content: center;
    align-items: center;
  }

  .logo-item {
    padding: 0 20px;

    img {
      max-width: 150px;
      height: auto;
      max-height: 80px;
      object-fit: contain;
    }
  }
}
@include breakpoint(small down) {
  .logo-list {
    .logo-item {
      margin-bottom: 10px;
    }
  }
}
