/* ========================================
   Hero Slider Section (Фінальні стилі)
   ======================================== */
.hero-slider.dynamic-slider {
  position: relative;
  width: 100%;
  overflow: hidden;
  line-height: 0;

  .single-slide {
    position: relative;
    line-height: 0;
  }

  .slide-image {
    display: block;
    width: 150%;
    height: auto;
  }

  /* Контейнер для накладеної графіки ARTISAN та дати */
  .hero-overlay-content {
    position: absolute;
    margin-bottom: -2.8%;
    bottom: 0;
    left: 15%;
    z-index: 10;
    .hero-artisan-text {
      margin: 0 auto 10px;
      display: block;
      opacity: 0.8;
    }
  }
}
