/* ========================================
   Our Homes (Slider) Section
   ======================================== */
.our-homes-section {
  padding-bottom: 2.5rem;
  text-align: center;

  .section-title {
    color: $section-title-color;
    font-family: Arial, sans-serif;
    font-size: 2.125rem;
    line-height: 1.8125rem;
    padding: 9px;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    border-bottom: 1.5px solid $section-title-color;
    max-width: 350px;
    margin-top: 3.3rem;
    margin-bottom: 0.3rem;
  }
  .homes-slider-wrapper {
    display: flex;
  }
  .slick-slide {
    margin: 0 -20px;
    min-width: 320px;
  }
  .home-slide-item {
    text-align: center;
  }
  .home-photo-wrap {
    padding: 2px;
    height: 190px;
  }
  .home-card {
    display: flex;
    flex-direction: column;
    border: 1.5px solid $home-bg;
    margin: 1rem 1.5rem;
    .home-info {
      padding: 1rem;
      .home-address,
      .home-city-zip {
        text-transform: uppercase;
        font-size: 1.0875rem;
        color: $home-bg;
        font-weight: 600;
        margin-bottom: 0.1rem;
        line-height: 1.4375rem;
      }
      .builder-name {
        color: $color-builder;
        font-size: 1.0625rem;
        line-height: 1.4375rem;
      }
    }

    .artisan-number-btn {
      display: block;
      background-color: $home-bg;
      color: $color-white;
      padding: 0.4rem 0;
      font-size: 0.875rem;
      line-height: 2rem;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: bold;
      margin-top: 6px;
      &:hover {
        opacity: 0.6;
      }
    }
  }
  .button-area {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .view-homes-btn {
    background-color: $home-bg;
    color: $color-white;
    text-transform: uppercase;
    font-size: 1.4375rem;
    line-height: 2.4375rem;
    padding: 1rem 3rem;
    text-decoration: none;
    font-weight: bold;
    margin-top: 1.25rem;
    max-height: 4.375rem;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: fit-content;
    &:hover {
      opacity: 0.6;
    }
  }
}
