.logo {
  h1 {
    font-size: 0;
  }

  a {
    display: inline-block;
  }

  img {
    max-height: 150px;
  }
}

@include breakpoint(small down) {
  /* TOP BAR Mobile STYLING */
  .site-menu {
    .main-menu {
      li {
        background-color: $primarry-color;
        &:not(:last-child):after {
          display: none;
        }
      }
    }
  }
  .site-header {
    position: relative;
    z-index: 99;
  }
  .top-bar {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
  }
  .menu-grid-container {
    padding-left: 0;
    padding-right: 0;

    .grid-margin-x {
      margin-left: 0;
      margin-right: 0;

      .cell {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
      }
    }
  }

  .title-bar {
    line-height: 45px;

    .menu-icon {
      padding: 0;
      border: none;
      background-color: transparent;

      @include menu-icon($white, $white, 30px, 24px, 3px);
      &:after {
        display: none;
      }
    }
  }

  .top-bar {
    display: none;
    background: $primary-color; /* menu list background color */
  }

  .header-menu {
    background: transparent;

    li {
      > a {
        background: $primarry-color; /* menu item background color */
        color: $white; /* menu item text color */
        line-height: 45px;

        &:focus {
          &,
          & + .submenu-toggle {
            background: darken(
              $primarry-color,
              5
            ); /* menu item background color on hover */
          }
        }
      }

      &.current-menu-item,
      &.current_page_ancestor,
      &.current_page_parent {
        > a,
        .submenu-toggle {
          background: lighten(
            $primarry-color,
            5
          ); /* current/parent menu item background color */
        }
      }

      &[aria-expanded='true'] {
        > a,
        .submenu-toggle {
          background: darken(
            $primarry-color,
            3
          ); /* menu item background color on open dropdown */
        }
      }
    }

    .submenu-toggle {
      padding: 0;
    }

    .submenu {
      a {
        padding-left: #{get-side($accordionmenu-padding, 'left') * 1.65};
      }

      .submenu {
        a {
          padding-left: #{get-side($accordionmenu-padding, 'left') * 2.3};
        }
      }
    }
  }
}

@include breakpoint(medium) {
  /* TOP BAR STYLING */
  .top-bar {
    height: 100%;
  }
  .main-menu.menu {
    /* Align menu items to the right */
    justify-content: flex-end;
    height: 100%;
    /* Align menu items to the center */
    // justify-content: center;

    li {
      > a {
        /* Regular menu item style */
        line-height: 40px;
        color: $primarry-color;
        padding: 0.7rem 0.5rem;

        &:hover {
          /* menu item style on hover */
          background: $primarry-color;
          color: $white;
        }
      }

      &.current-menu-item,
      &.current_page_ancestor,
      &.current_page_parent {
        > a {
          /* Style of Current page and Ancestor page */
          background: $primarry-color;
          color: $white;
        }
      }

      &.has-dropdown {
        > a {
          /* Style of item with dropdown */
        }
      }

      &.is-active > a {
        /* Parent link style on dropdown hover */
        background: $white;
        color: $primarry-color;
      }
    }
    .site-menu {
      .main-menu {
        li {
          &:not(:last-child):after {
            content: '';
            color: $header-text-color;
          }
        }
      }
    }
    /* Dropdown item styling */

    .submenu {
      z-index: 11;
      display: none;

      &.js-dropdown-active {
        display: block;
      }

      li {
        > a {
          /* Regular link in dropdown */
          background: $white;
          color: $primarry-color;
          line-height: 30px;

          &:hover {
            /* Dropdown link on hover */
            background: lighten($primarry-color, 10);
            color: $white;
          }
        }

        &.current-menu-item,
        &.current_page_ancestor,
        &.current_page_parent {
          > a {
            background: lighten($primarry-color, 10);
            color: $white;
          }
        }
      }
      .submenu {
      }
    }
  }
}
.flex-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.site-header {
  background-color: $header-bg;
  color: $header-text-color;
  padding: 0.5rem 0;
}

.site-logo {
  .custom-logo-link {
    display: block;

    img {
      max-height: 50px;
      max-width: 170px;
      width: auto;
      filter: brightness(0) invert(1);
    }
  }

  .logo-main {
    font-size: 2.2rem;
    font-weight: 300;
    display: block;
    line-height: 1;
  }

  .logo-sub {
    font-size: 1.2rem;
    display: block;
    line-height: 1.1;
    margin-top: 2px;
  }

  .logo-city {
    font-size: 0.7rem;
    display: block;
    text-transform: uppercase;
    color: rgba($header-text-color, 0.7);
    line-height: 1.1;
  }
}

.site-menu {
  .main-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    //max-width: 740px;
    display: flex;
    align-items: center;

    li {
      display: inline-block;
      padding: 0;

      a {
        display: inline;
        color: $header-text-color;
        text-transform: uppercase;
        font-size: 18px;
        line-height: 20px;
        font-weight: 400;
        text-decoration: none;
        white-space: nowrap;
      }

      &:not(:last-child):after {
        content: ' / ';
        color: $header-text-color;
      }
    }
  }
}
