// Project variables
// Note: Prefer using framework variables

//$blue: #1a608b;
//
//$text-color: #333;

//$primary-color: $blue;
//$sub-color: $primary-color;

$font: 'Open Sans', serif;
//$sub-font: $font;

// Project mixins

// Custom fonts
:root {
  --content-size: 1010px;
}
$primarry-color: #a76101;
$header-bg: #a76101;
$home-bg: #a76101;
$header-text-color: #fff;
$color-white: #fff;
$builders-bg: #a76101;
$builders-text-color: #fff;
$section-title-color: #a76101;
$name-color: #b0b0b0;
$footer-bg: #4d4e51;
$color-links: #abaaaa;
$color-builder: #ababab;
$color-links-lv: #7f7d7d;
$footer-text: #fdfdfd;
$link-color: #fff;
$color-coming-soon: #000000;
$bg-dark-gray: #4d4d4d;
$border: #352003;
$text-white: #ffffff;
$border-gray: #7a7a7a;
$gold-accent: #c49a58;
$text-brown: #8f703e;
