// Project variables
// Note: Prefer using framework variables

//$blue: #1a608b;
//
//$text-color: #333;

//$primary-color: $blue;
//$sub-color: $primary-color;

$font: 'Open Sans', serif;
//$sub-font: $font;

// Project mixins

// Custom fonts
:root {
  --content-size: 80rem;
}
$primarry-color: #9a6016;
$header-bg: #9a6016;
$home-bg: #9a6016;
$header-text-color: #fff;
$color-white: #fff;
$builders-bg: #a06216;
$builders-text-color: #fff;
$section-title-color: #a06216;
$name-color: #b0b0b0;
